<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.sdp.vibester">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".GenreToLyrics"
            android:exported="false" />
        <activity
            android:name=".GenreToTyping"
            android:exported="false" />
        <activity
            android:name=".activity.IncorrectSongsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LyricsBelongGameActivity"
            android:exported="false" />
        <activity
            android:name=".activity.GameEndingActivity"
            android:exported="false" />
        <activity
            android:name=".activity.TypingGameActivity"
            android:exported="false" />
        <activity
            android:name=".activity.GamescreenActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activity.GameSetupActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ScoreBoardActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AuthenticationActivity"
            android:exported="true" />
        <activity
            android:name=".GenreTemporary"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>