<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ch.sdp.vibester">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".VibesterApp"
        android:allowBackup="true"
        android:extractNativeLibs="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.QrScanningActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ChoosePartyRoomActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PartyRoomActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DeleteSongsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SearchUserActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".activity.DownloadActivity"
            android:exported="false" />
        <activity
            android:name=".activity.profile.CreateProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activity.BuzzerSetupActivity"
            android:exported="false" />
        <activity
            android:name=".activity.IncorrectSongsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LyricsBelongGameActivity"
            android:exported="false" />
        <activity
            android:name=".activity.GameEndingActivity"
            android:exported="false" />
        <activity
            android:name=".activity.TypingGameActivity"
            android:exported="false" />
        <activity
            android:name=".activity.BuzzerScreenActivity"
            android:exported="false" />
        <activity
            android:name=".activity.profile.ProfileActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name=".activity.profile.MyProfileActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name=".activity.profile.PublicProfileActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name=".activity.ScoreBoardActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.AuthenticationActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="androidx.test.core.app.InstrumentationActivityInvoker$BootstrapActivity"
            android:theme="@android:style/Theme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="androidx.test.core.app.InstrumentationActivityInvoker$EmptyActivity"
            android:theme="@android:style/Theme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="androidx.test.core.app.InstrumentationActivityInvoker$EmptyFloatingActivity"
            android:theme="@android:style/Theme.Dialog"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity"
            android:exported="true"
            tools:node="merge">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>